.about-section {
  height: 100vh;
  display: flex;

  border: 2px solid red;

  justify-content: center;
  align-items: center;
  
}

.about-page-container {
  height: 100vh;
}

.tech-item {
  padding: 0 1vw;
}

