.experience-title {
    color: var(--app_main_text_color);
    font-family: var(--app_font_family_bold);
    --ion-color: var(--app_main_text_color);
}

.see-more-button {
    color: var(--app_secondary_text_color);
}