#main_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;

    background-color: black;
}

#menu_button {
  display:flex;
  position: fixed;
  top: 1vh;
  right: 1vh;
  z-index: 1005;
}

.main-menu {

}

.menu-open {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.menu-closed {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}
