#main_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;

    background-color: black;
}

.menu-open {
    opacity: 1;
}

.menu-closed {
    opacity: 0;
}
