.project-component-grid {

    @media screen and (max-width: 768px) {
        height: 100%;
    }

    background-color: var(--app_light_background_color);
    --ion-background-color: var(--app_light_background_color);
    font-family: var(--app_font_family_light);
    --ion-font-family: var(--app_font_family_light);

    color: var(--app_main_text_color);
    --ion-color: var(--app_main_text_color);
}

.project-component-title {
    font-family: var(--app_font_family_bold);
    --ion-font-family: var(--app_font_family_bold);

    color: var(--app_main_text_color);
    --ion-color: var(--app_main_text_color);
}

.project-component-description {
    font-family: var(--app_font_family_light);
    --ion-font-family: var(--app_font_family_light);

    color: var(--app_main_text_color);
    --ion-color: var(--app_main_text_color);
}

.project-image-column {
    @media screen and (max-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 30vh;
    }
}

.project-image-column img {
    width: 100%;
    height: auto;

    border-radius: 0 15% 15% 0 / 0 45% 45% 0;

    transform: translateX(-5%);

    @media screen and (max-width: 768px) {
        border-radius: 10%;
        transform: translateX(0);
        padding: 0;

        height: 100%;
        width: auto;
    }
}

/*******************
 **** Details ******
 *******************/

.project-detail-modal {
    --width: clamp(85%, 80%, 90%);
    --height: clamp(75%, 80%, 90%);
    --ion-background-color: var(--app_light_background_color);

    @media screen and (max-width: 768px) {
        --width: 100%;
        --height: 100%;

        text-align: center;
    }
}

.project-detail-modal ion-content {
    --ion-background-color: var(--app_light_background_color);


    --overflow: hidden;

    @media screen and (max-width: 768px) {
        --overflow: auto;
    }
}

.project-detail-modal .flex.items-center {
    @media screen and (max-width: 768px) {
        align-items: flex-start !important;
        padding-top: 1rem;
    }
}

.project-detail-modal ion-toolbar {
    --background: var(--app_light_background_color);
}

.project-detail-modal ion-header {
    --ion-color: var(--app_main_text_color);
    --background: var(--app_light_background_color);
    --ion-box-shadow: none;
    box-shadow: none;
    --ion-toolbar-shadow: none;
}

.project-detail-modal ion-button {
    color: var(--app_clear_highlighted_text_color);
}

.project-detail-image-column {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 45vh;

    @media screen and (max-width: 768px) {
        max-height: none;
    }
}

.project-detail-image-column img {
    max-height: 70%;
    max-width: 70%;
    width: auto;
    height: auto;

    border-radius: 5%;

    @media screen and (max-width: 768px) {
        padding: 10%;
        max-height: 100%;
        max-width: 100%;
    }
}

.project-detail-modal-content * {
    padding: 0% 1%;
}

.project-detail-text-column {
    font-family: var(--app_font_family_light);
    --ion-font-family: var(--app_font_family_light);
    color: var(--app_main_text_color);
    --ion-color: var(--app_main_text_color);

    color: var(--app_main_text_color);
    --ion-color: var(--app_main_text_color);

    background-color: var(--app_light_background_color);
    --ion-background-color: var(--app_light_background_color);

    h2 {
        font-family: var(--app_font_family_bold);
        --ion-font-family: var(--app_font_family_bold);

        color: var(--app_main_text_color);
        --ion-color: var(--app_main_text_color);
    }
}

#more-info-link {
    color: var(--app_dark_highlighted_text_color);
    --ion-color: var(--app_dark_highlighted_text_color);
}

.project-component-detail-button {
    background-color: transparent;
    --ion-background-color: transparent;

    color: var(--app_dark_highlighted_text_color);
    --ion-color: var(--app_dark_highlighted_text_color);
}