
.tech-chip {
    background-color: var(--app_chip_bg_color);
    font-family: var(--app_font_family_light);
    --ion-font-family: var(--app_font_family_light);
}

.tech-label {
    color: var(--app_main_text_color);
    --ion-text-color: var(--app_main_text_color);
    font-family: var(--app_font_family_light);
    --ion-font-family: var(--app_font_family_light);
}