#main_header {
    height: 15%;

    @media screen and (max-width: 768px) {
        height: 12%;
    }

    background-color: var(--app_light_background_color);

    --ion-box-shadow: none;
    box-shadow: none;
}
